.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  background-color: #134074;
}

.body {
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
  margin-left: 420px;
  margin-top: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #0b2545;
  
}
.heading {
  font-size: 40px;
  margin-top: 100px;
  font-weight: bold;
  color: #eef4ed;
  background-color: #0b2545;
}

.num {
  font-size: 200px;
  font-weight: bold;
  margin-top: -70px;
  padding: 0;
  color: #8da9c4;
  background-color: #0b2545;
}

.click {

  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flexbox;
  justify-content: center;
  background-color: #0b2545;
  
}

.btn1 {
  background-color: #ffb703;
  margin-right: 20px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

.btn1:hover {
  background-color: #dab892;
  font-size: larger;
  cursor: pointer;
}

.btn2 {
  background-color: #ffb703;
  margin-left: 25px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

.btn2:hover {
  background-color: #dab892;
  font-size: larger;
  cursor: pointer;
}


